@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* [CUSTOM]: What I Do - Card Hover Effect */
.card .icon-wrap {
    transition: all 300ms;
}

.card:hover .icon-wrap {
    background: #EF4444;
    transition: all 300ms;
    border-color: #EF4444;
}

.card .icon {
    transition: all 300ms;
}

.card:hover .icon {
    color: white;
    transition: all 300ms;
}

/* [CUSTOM]: Portfolio - Card Hover Effect */
.portfolio-card .portfolio-card_overlay {
    transform: scale(0);
    opacity: 0;
    transition: all 300ms;
}

.portfolio-card:hover .portfolio-card_overlay {
    transform: scale(1);
    opacity: 1;
    transition: all 400ms ease;
}

/* [CUSTOM]: Contact Me - focus-visible style */
.outline-red-500 {
    outline-color: rgba(254, 202, 202, 1);


}